.top_con{
    height:680px;
    width:100%;
    box-sizing: border-box;
    padding:10px 0;
    .top_con_left{
        width:540px;
        height:100%;
    }
    .top_con_middle{
        width:calc(100% - 1080px);
        height:100%;
        box-sizing: border-box;
        padding:0 10px;
    }
    .top_con_right{
        width:540px;
        height:100%;
    }
}
.bottom_con{
    height:275px;
    width:100%;
    box-sizing: border-box;
    margin-bottom:10px;
}

.i_red {
    display: inline-block;
    width:8px;
    height:8px;
    background:rgba(252,12,89,1);
    border:4px solid #4c183c;
    border-radius: 50%;
  }
  .i_yellow {
    display: inline-block;
    width:8px;
    height:8px;
    background:rgba(254,223,80,1);
    border:4px solid #454339;
    border-radius: 50%;
  }
  .i_green {
    display: inline-block;
    width:8px;
    height:8px;
    background:rgba(0,247,189,1);
    border:4px solid #12474f;
    border-radius: 50%;
  }

  .bgcStyle {
    display: inline-block;
    text-align: center;
    width: 53px;
    height: 24px;
    font-weight:500;
    line-height:24px;
    margin-right: 5px;
  }
  .bgcStyle_a {
    color:rgba(76,240,254,1);
    background-color: rgba(76,240,254,0.2);
  }
  .bgcStyle_b {
    color:rgba(252,12,89,1);
    background-color: rgba(252,12,89,0.2);
  }
  .bgcStyle_c {
    color:rgba(254,223,80,1);
    background-color: rgba(254,223,80,0.2);
  }

  .bg_a {
    background:linear-gradient(270deg,rgba(0,153,239,0.8) 0%,rgba(66,187,255,1) 100%);
  }
  .bg_b {
    background:linear-gradient(270deg,rgba(223,92,180,1) 0%,rgba(224,124,118,1) 100%);
  }
  .bg_c {
    background:linear-gradient(270deg,rgba(0,201,135,1) 0%,rgba(0,150,202,1) 100%);
  }
  .bg_d {
    background:linear-gradient(270deg,rgba(216,185,42,1) 0%,rgba(255,196,0,1) 100%);
  }
  //   背景
  .bg {
    background-color: #1D284D;
  }
//   标签样式
    p {
        margin: 2px 0;
        line-height: 16px;
    }
    .flex {
        display: flex;
    }
    .flex1 {
        flex: 1;
    }
// 居中
    .text_center {
        text-align: center;
    }
    
    .textAlignCenter {
        text-align: center;
    }
    .marginL30 {
        margin-left: 15px;
        line-height: 24px;
    }
    .padding10 {
        padding: 10px;
    }
    .font12 {
        font-size: 12px;
    }
    .font28 {
        font-size: 28px;
    }

    .bigNum {
        color: #76D0DF;
    }
  .margin10 {
    margin: 0px 5px;
  }
  .padding5 {
    padding: 5px;
  }