@font-face {
  font-family: 'myFont';
  /* src: url(../fonts/PingFangSC-Light.ttf); */
  src: url('./font/pingfang.ttf');
  font-weight: normal;
  font-style: normal;
}


#body {
  font-family: 'myFont', "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

.flex-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex
}

.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse
}

.column {
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.column,
.column-reverse {
  -webkit-box-orient: vertical
}

.column-reverse {
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse
}

.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse
}

.jc-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.jc-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.jc-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.jc-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.jc-around {
  -ms-flex-pack: distribute;
  justify-content: space-around
}

.ai-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

.ai-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.ai-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end
}

.ai-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch
}

.ac-center {
  -ms-flex-line-pack: center;
  align-content: center
}

.ac-end {
  -ms-flex-line-pack: end;
  align-content: flex-end
}

.ac-between {
  -ms-flex-line-pack: justify;
  align-content: space-between
}

.ac-around {
  -ms-flex-line-pack: distribute;
  align-content: space-around
}

.ac-stretch {
  -ms-flex-line-pack: stretch;
  align-content: stretch
}

.equal,
.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
}

.flex-2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  min-width: 0;
}

.flex-3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  min-width: 0;
}

.flex-4 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
  min-width: 0;
}

.flex-5 {
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
  min-width: 0;
}


.equal-auto {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.equal-no {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.textdot {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.allHeight {
  height: 100%;
}

.list-unstyle {
  list-style: none;
}

.inline-block {
  display: inline-block;
}

.qualityManage {
  .good{
    color: #00F7BD
  }
  .bad{
    color: #FC0C59;
  }
  * {
    box-sizing: border-box;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
  }

  td,
  th {
    padding: 0;
  }

  .table {
    border-collapse: collapse !important;
  }

  .table {
    width: 100%;
    max-width: 100%;

  }

  .table td,
  .table th {
    background-color: transparent;
    font-size: 12px;

  }

  .cixu {
    color: rgba(122, 155, 191, 1);
    font-family: DINAlternate-Bold;
  }

  table th {
    color: #4CBDFE;
   

    span {
      color: rgba(76, 189, 254, 0.5);
      margin-left: 5px;
    }
  }

  .table-bordered {
    border: 1px solid rgba(35, 53, 87, 1);
  }

  .table-bordered th,
  .table-bordered td {
    border: 1px solid rgba(35, 53, 87, 1);
  }

  .table-bordered>thead>tr>th,
  .table-bordered>tbody>tr>th,
  .table-bordered>tfoot>tr>th,
  .table-bordered>thead>tr>td,
  .table-bordered>tbody>tr>td,
  .table-bordered>tfoot>tr>td {
    border: 1px solid rgba(35, 53, 87, 1);
  }

  .table-bordered>thead>tr>th,
  .table-bordered>thead>tr>td {
    border-bottom-width: 2px;
  }

}

.text-center {
  text-align: center;
}

.ibox {
  height: 100%;

  .ibox-title {
    height: 40px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    background: rgba(40, 54, 100, 1);
    padding-left: 10px;
    line-height: 40px;

    .text {
      display: inline-block;
      margin-left: 10px;

      // padding-left:25px;
      // background-image: url('../../assets/index/icon.png') no-repeat 0 0;
    }
  }

  .ibox-content {
    background: rgba(29, 40, 77, .5);
    height: calc(100% - 40px);
    padding: 10px;
  }
}

.list-unit {
  li {
    width: 50%;
    font-size: 10px;
    margin-top: 8px;

    span.title {
      color: #76D0DF;

      span {
        margin-left: 0px;
      }
    }

    span.content {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.cardItem {
  width: 165px;
  height: 95px;

  dl {
    dt {
      text-align: center;
    }

    dd {
      font-size: 12px;
      line-height: 17px;
      padding: 0 6px;
    }
  }
}

.cardItem1 {
  background: linear-gradient(270deg, rgba(0, 153, 239, 0.8) 0%, rgba(66, 187, 255, 1) 100%);
}

.cardItem2 {
  background: linear-gradient(270deg, rgba(223, 92, 180, 1) 0%, rgba(224, 124, 118, 1) 100%);
}

.cardItem3 {
  background: linear-gradient(270deg, rgba(0, 201, 135, 1) 0%, rgba(0, 150, 202, 1) 100%);
}

.list-pro {

  dt {
    color: rgba(219, 225, 255, 1);
    font-size: 12px;
    text-align: center
  }

  dd {
    color: #4CF0FE;
    font-size: 28px;
    text-align: center
  }
}

.i_red {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: rgba(252, 12, 89, 1);
  border: 4px solid #4c183c;
  border-radius: 50%;
}

.i_yellow {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: rgba(254, 223, 80, 1);
  border: 4px solid #454339;
  border-radius: 50%;
}

.i_green {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: rgba(0, 247, 189, 1);
  border: 4px solid #12474f;
  border-radius: 50%;
}

.media {
  background: rgba(29, 40, 77, 0.5);
  padding: 8px 10px;
  overflow: hidden;

  .media-body {
    margin-right: 154px;
  }

  .media-body {
    .media-header {
      margin-bottom: 10px;

      label {
        background: rgba(76, 240, 254, 0.2);
        padding: 4px 7px;
        color: #4CF0FE;
        font-size: 12px;
      }

      span {
        margin-left: 10px;
        color: #76D0DF
      }
    }

    .media-content {
      font-size: 12px;
      line-height: 18px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }

    .media-footer {
      font-size: 12px;
      line-height: 17px;
      margin-top: 10px;
    }

  }

  .media-right {
    float: right;
    width: 114px;
    height: 78px;
  }
}

.eclipse {
  max-width: 150px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
